.iconDetails {
    margin-left:2%;
   float:left; 
   height:40px;
   width:40px;	
   } 
   
   .container2 {
       width:auto;
       height:auto;
       padding:1%;
   }
   
   h4 {
       margin:0px;
   }