 @font-face {
   font-family: 'MenuFont';
   src:  url('./OpenSans-Regular.woff') format('woff');
}

.Menu {
    color: #808080;
    font-family: 'Papyrus';
    list-style-type: square;
    font-size: large;
}


/* This class is applied to the containing div <div class="nav"> and is used to set the background color and height of the navbar */
.nav {
  background: #d9f7be;
  height: 60px; /* set same as height & line-height below */
  text-align: center;
}

/* This rule centers the nav items verticaly in the bar with the height and line height properties. Spacing between the nav items is controlled by setting right and left padding.  */
.nav li {
  display: inline-block;
  list-style: none;
  height: 60px; /* should be the same as line-height */
  line-height: 60px; /* should be the same as height */
  padding: 0 40px; /* "0" sets top and bottom padding to none */
}

/* :hover allows you change the background color of the nav items when you mouse over them. Play around with the transition value to change the speed of the hover transition. */
.nav li:hover {
  background: white;
  transition: background .3s;
}

/* This rule is applied to the link <a> tag. It lets you turn off the link underline and set the link text color. */
.nav a {
  text-decoration: none;
  font-size: large;
}

.button {
  margin: 1px;
}

.icons {
  padding: 2px;
  text-align: center;
}

.file {
  padding: 20px;
}

.container {
  max-height: 440;
}